body {
    font-size: 2rem;

    height: 100vh;

    padding: 1.75rem;

    display: flex;  
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

nav a {
    padding-right: 10px;
}

#pixels {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 60%;
    padding: 2rem;
    z-index: -1;
}

.pixel {
    background-color: #1b1c1f;
    float: left;
}

body.dark-mode .pixel {
    background-color: #f0ede9;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    #pixels {
        width: 60%;
        height: 50%;
    }
}
