.card {
    padding: 20px;
    margin: 20px 0px;
    border: solid;
    border-color: #1b1c1f;
    border-width: 3px;
    transition: 0.2s;
}

body.dark-mode .card {
    border-color: #f0ede9;
}

/* .card:hover {
    box-shadow: -3px 3px #1b1c1f;
    transform: translate(3px, -3px);
}

body.dark-mode .card:hover {
    box-shadow: -3px 3px #f0ede9;
    transform: translate(3px, -3px);
} */
